<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.cmu.cs.crystal.CrystalAnalysis">
      <analysis
            class="edu.csupomona.cs585.constants.ConstantAnalysis"
            name="Constant Propagration Analysis">
      </analysis>
   </extension>

</plugin>
